name: CI/CD Workflow

on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      -  name: Checkout Repository
         uses: action/checkout@v2

      - name: Set Up Node.js
        uses: actions/setup-node@v3
        with:
          node-versions: 14


      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test


notifications:
  email:
    on_success: always
    on_failure: always
